div {
	float: left;
	padding: 1em;
	border: 1px solid black;
	min-height: 170px;
    min-width: 250px;
}

li {
	border: 1px solid black;
	padding: .5em;
	max-width: 150px;
    min-height: 24px;
    list-style-type: none;
}

ol {
	margin: 0;
    padding: 0;
}

button[draggable] {
	display: block;
	cursor: move;
}

[draggable].dragging {
	opacity: 1;
	cursor: pointer !important;
}

button[aria-pressed=true] {
	background-color: #aaa;
}

/* span[role=alert] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
} */